.headerTitle {
  font-size: 13px;
  text-decoration: none !important;
  color: #333e48;
}

.headerBrand {
  font-size: 13px;
  text-decoration: none !important;
}

.backgroundBrand {
  background-color: #ebebeb;
}

img {
  width: 95%;
}

.headerTitleBrand {
  background-color: white;
  border: 1px solid black;
}

.card-title-a {
  text-decoration: none;
  padding-right: 10px;
  color: #333e48;
  opacity: 0.5;
}

.card-text {
  font-size: 14px;
  opacity: 0.7;
}

.leaveComment {
  text-decoration: none;
  opacity: 0.5;
  font: 13px;
  color: #333e48;
}

.leaveComment:hover {
  color: black;
  opacity: 1;
}

.searchBlog {
  width: 250px;
  padding: 13px;
  border: 1px solid #333e48;
  border-radius: 40px;
}

.categoriesTile li a {
  text-decoration: none;
  padding-left: 10px;
  color: #5d7184;
}

.categoriesTile li {
  list-style-type: none;
}

.features-list {
  width: 400px;
  height: 400px;
  border: 1px solid #333e48;
}

.features-list .features-list_nav {
  display: flex;
  padding: 25px 0 25px 25px;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid #333e48;
}
